<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Pataclysm</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>core.Pataclysm</string>
      <key>JVMVersion</key>
      <string>1.3+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/core/Actionable.class</string>
        <string>$JAVAROOT/core/ApplicationFrame$1.class</string>
        <string>$JAVAROOT/core/ApplicationFrame$2.class</string>
        <string>$JAVAROOT/core/ApplicationFrame$3.class</string>
        <string>$JAVAROOT/core/ApplicationFrame.class</string>
        <string>$JAVAROOT/core/AudioUtils.class</string>
        <string>$JAVAROOT/core/ExampleFileFilter.class</string>
        <string>$JAVAROOT/core/FootSwitchTest.class</string>
        <string>$JAVAROOT/core/GUIPinSlider.class</string>
        <string>$JAVAROOT/core/JPopupAppMenu.class</string>
        <string>$JAVAROOT/core/Joystick.class</string>
        <string>$JAVAROOT/core/LeastCommonMultiple.class</string>
        <string>$JAVAROOT/core/Lerp.class</string>
        <string>$JAVAROOT/core/LerpListener.class</string>
        <string>$JAVAROOT/core/OSXAdapter$1.class</string>
        <string>$JAVAROOT/core/OSXAdapter.class</string>
        <string>$JAVAROOT/core/Pataclysm$1.class</string>
        <string>$JAVAROOT/core/Pataclysm$2.class</string>
        <string>$JAVAROOT/core/Pataclysm$3.class</string>
        <string>$JAVAROOT/core/Pataclysm$4.class</string>
        <string>$JAVAROOT/core/Pataclysm.class</string>
        <string>$JAVAROOT/core/PitchShifter.class</string>
        <string>$JAVAROOT/core/RecordBuffer.class</string>
        <string>$JAVAROOT/core/SampleScrubber.class</string>
        <string>$JAVAROOT/core/SampleUIControl$1.class</string>
        <string>$JAVAROOT/core/SampleUIControl$LabelSlider.class</string>
        <string>$JAVAROOT/core/SampleUIControl.class</string>
        <string>$JAVAROOT/core/SampleUIControlBank.class</string>
        <string>$JAVAROOT/core/SamplerButton.class</string>
        <string>$JAVAROOT/core/SamplerConstants.class</string>
        <string>$JAVAROOT/core/SliderType.class</string>
        <string>$JAVAROOT/core/Switch.class</string>
        <string>$JAVAROOT/core/TremoloUtil.class</string>
        <string>$JAVAROOT/core/UIManager.class</string>
        <string>$JAVAROOT/core/USBFootSwitch.class</string>
        <string>$JAVAROOT/MyGuiMod-src.jar</string>
        <string>$JAVAROOT/MyGuiMod.jar</string>
        <string>$JAVAROOT/core1.2.jar</string>
        <string>$JAVAROOT/jportaudio.jar</string>
        <string>$JAVAROOT/jsyn_16_7_3.jar</string>
        <string>$JAVAROOT/pcontrol.jar</string>
        <string>$JAVAROOT/procontroll.jar</string>
        <string>$JAVAROOT/sonia.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>Pataclysm</string>
      </dict>
    </dict>
  </dict>
</plist>
